.btn-container {
  display: block;
  height: 50px;
}

.img-container {
  display: block;
  position: relative;
}

.poster-img {
  border:solid black;
  position: relative;
}

.image-upload{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
input[type="file"]{
  display: none;
}
label{
  color: papayawhip;
  height: 45px;
  width: 200px;
  background-color: palevioletred;
  position: relative;
  margin: auto ;
  font-weight: bolder;
  font-size: 20px;
  padding:10px;
  border-radius:6px ;
}

.delete-btn{
  background-color: #eee;
  position: relative;
  margin: auto ;
  font-size: 20px;
  font-weight: 700;
  padding:10px;
  border-radius:6px ;
  left: 56%;
  position: absolute;
  top: 0;
  width: 50px;
}
